################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Neeraj/HelloWorld/.vs/HelloWorld/v15/Server/sqlite3/db.lock
/Poonam/FirstApp/.vs/FirstApp/v15/Server/sqlite3/db.lock
/Shreya/FirstApp/.vs/FirstApp/v15/Server/sqlite3/db.lock
/Neeraj/HelloWorld/CalculatorWebAppCore
/Poonam/EmployeeManagementSystem/.vs/EmployeeManagementSystem/v15/Server/sqlite3/db.lock
/Shreya/EmployeeService/.vs/EmployeeService/v15/Server/sqlite3/db.lock
/Priyanka/LambdaExample/.vs/LambdaExample/v15
