@model DBFirstEFDemo.Department

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Department Name")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.DepartmentName)
            </td>
        </tr>
    </table>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
