<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="Scripts/angular.js"></script>
    <script src="JavaScript1.js"></script>
    <title></title>
</head>
<body ng-app="MainApp" , ng-controller="ChangeText">
    <form>

        <table>
            <tr>
                <td>
                    <label for="FirstName">First Name</label>
                    <input ng-model="FirstName" type="text" maxlength="50" style="width: 260px">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="LastName">Last Name</label>
                    <input ng-model="LastName" type="text" maxlength="50" style="width: 260px">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Gender">Gender</label>
                    <input ng-model="Gender" type="text" maxlength="50" style="width: 260px">
                </td>
            </tr>
            <tr>
                <td>
                    <input name="Submit" type="button" value="Change Text" ng-click="Change()">
                </td>
            </tr>

        </table>

    </form>

</body>
</html>