<!DOCTYPE html>
<html>
<head>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>-->

    <script src="../Scripts/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="AddModule.js"></script>
    <script src="SubModule.js"></script>
    <script src="AdditionController.js"></script>
    <script src="SubtractionController.js"></script>
    <script src="customDirective.js"></script>

</head>
<body ng-app="mainModule">
    <h2>This is the Page Containing Modularization</h2>


    Enter first number<input type="text" ng-model="firstNumber" /><br />
    First Number:{{firstNumber}}<br /><br />
    Enter second number:<input type="text" ng-model="secondNumber" /><br />
    Second Number:{{secondNumber}}<br />


    <div ng-module="addModel" ng-controller="addController">
        <br /><input type="button" value="Addition" ng-click="addNumbers()" />
    </div><br />

    <div ng-module="subModule" ng-controller="subController">
        <input type="button" value="Subtract" ng-click="subNumbers()" /><br />
    </div><br />

</body>
</html>