@model RegistrationWebApp.Models.Register


<!DOCTYPE html>

<html>

<head>

    <title>Congratulation</title>

</head>

<body>

    <div>

        <h1>Welcome @Model.firstName  @Model.lastName!!!</h1>

        <p>Your Registration has been Successfully completed.</p>

    </div>

</body>

</html>