<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-app="MyAppDemo" , ng-controller="MyDemo">
    <form>
        <div>
            <div>

                <table border="1">

                    <tr>
                        <td>
                            <label for="FirstName">First Name</label>
                            <input ng-model="firstname" type="text">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="LastName">Last Name</label>
                            <input ng-model="lastname" type="text">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div>

                                <input type="button" value="Add" ng-click="AddEmployee()" maxlength="50" style="width:100px">
                            </div>
                        </td>
                    </tr>
                </table>


            </div>
        </div>
    </form>

</body>
</html>