
@{
    ViewBag.Title = "RazorTest";
}

<h2>RazorTest</h2>

<head>Razor practice</head>
<body>

    <div>
        @for (int i = 0; i < 10; i++)
        {
            <p>@i</p>
        }



    </div>


</body>
