
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessDelete</title>
</head>
<body>
    <div>
        <p>Employee Deleted Successfully</p>
    </div>
</body>
</html>
